@import "./variables";

@mixin mobile-input {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid $stock-black;
}

@mixin tablet-input {
  font-size: 20px;
  padding: 15px 30px;
}

@mixin button-colors {
  background: #dd1630;
  color: $stock-white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  &:hover {
    background: #b11226;
  }
  &:active {
    background: #b11226;
  }
  &:focus {
    background: #b11226;
  }
}

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}
