@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/avenirNextLtPro-regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/avenirNextLtPro-demi.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/avenirNextLtPro-bold.ttf");
  font-weight: 600;
}

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

$stock-black: #323232;
$stock-white: #fafafa;
