@import "../styles/global";

.recipe {
  background: $stock-white;
  margin: 5vh 0;
  padding: 5%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgba(50, 50, 50, 0.5);

  &__label {
    font-weight: 500;
  }
  &__image {
    width: 80%;
    margin: 5% 0;
    border-radius: 5%;
  }
  &__ingredients-list {
    margin: 5% 0;
    font-size: 18px;
    list-style-type: none;
    text-align: start;
    line-height: 32px;
  }
  &__calories {
    font-weight: 500;
  }
}

@include tablet {
  .recipe {
    &__label {
      font-size: 28px;
    }
    &__ingredients-list {
      font-size: 20px;
      list-style-type: disc;
    }
    &__ingredients {
      text-align: start;
    }
    &__calories {
      font-size: 18px;
    }
  }
}

@include desktop {
  .recipe {
    width: 30%;
    max-width: none;
    &__label {
      font-size: 20px;
    }
    &__image {
      margin: 10% 0;
      width: 100%;
    }
    &__ingredients-list {
      margin: 10% 0;
      font-size: 18px;
    }
    &__calories {
      font-size: 16px;
    }
  }
}
