@import "./styles/global";

* {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
  font-weight: 400;
  text-align: center;
  box-sizing: border-box;
  color: $stock-black;
}

html {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

@keyframes fadeUp {
  from {
    margin-top: 200px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app {
  &__header {
    height: 50vh;
    background: url("./assets/header.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -1;
  }
  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #323232, $alpha: 0.5);
    z-index: -1;
  }
  &__heading {
    color: $stock-white;
    font-size: 64px;
    font-weight: 600;
    z-index: 1;
    animation: fadeUp 1s;
  }
}

.form {
  height: 30vh;
  margin: 10vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  &__heading {
    font-weight: 500;
    font-style: italic;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__search {
    @include mobile-input;
    transition: 0.1s ease-in-out;
    &:focus {
      background: #f7f7f7;
    }
  }
  &__button {
    margin: 10px 0;
    @include mobile-input;
    @include button-colors;
  }

  &__modal {
    height: 25vh;
    width: 70%;
    padding: 0 16px;
    background: $stock-white;
    border-radius: 30px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
    outline: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
  }
  &__modal-heading {
    font-size: 28px;
  }
  &__modal-button {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    @include button-colors;
  }
}

.recipes {
  padding: 0 5%;
  min-height: 2vh;
}

.footer {
  height: 50px;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: $stock-white;
  background: $stock-black;
}

@include tablet {
  .app {
    &__heading {
      font-size: 100px;
    }
  }
  .form {
    &__heading {
      font-size: 32px;
    }
    &__wrapper {
      flex-direction: row;
    }
    &__search {
      @include tablet-input;
    }
    &__button {
      @include tablet-input;
    }
    &__modal-heading {
      font-size: 42px;
    }
    &__modal-button {
      font-size: 20px;
    }
  }
  .recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@include desktop {
  .app {
    &__header {
      height: 60vh;
    }
    &__heading {
      font-size: 120px;
    }
  }

  .form {
    margin: 5vh 0;
    &__heading {
      font-size: 28px;
    }
    &__search {
      @include mobile-input;
    }
    &__button {
      @include mobile-input;
    }
    &__modal-heading {
      font-size: 32px;
    }
    &__modal-button {
      font-size: 18px;
    }
  }

  .footer {
    margin-top: 2vh;
  }
}
